extends layout

block content
  #banner.page-header

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each team in teams
          .col-xs-12.list-group-item
            a(href="/team/#{team._id}")
              .row
                .col-xs-12.col-sm-4
                  img(src=team.image_url, alt="", style="width:100px; height:100px;")
                .col-xs-12.col-sm-8
                  h3= team.name
                  p= team.country
    .col-xs-12.col-sm-4
      p.lead Mostramos una lista de los mejores equipos de Europa.
      .container 
a.btn.btn-default.pull-right(href="/new") Add team